USE [agencija]
GO
ALTER TABLE [dbo].[UplataOglasa] DROP CONSTRAINT [FK_UplataOglasa_Kompanija1]
GO
ALTER TABLE [dbo].[UplataOglasa] DROP CONSTRAINT [FK_UplataOglasa_CenovnikOglasa1]
GO
ALTER TABLE [dbo].[Outbox] DROP CONSTRAINT [FK_Outbox_Korisnik]
GO
ALTER TABLE [dbo].[OmiljeniOglasi] DROP CONSTRAINT [FK_OmiljeniOglasi_Oglas]
GO
ALTER TABLE [dbo].[Oglas] DROP CONSTRAINT [FK_Oglas_Mesto]
GO
ALTER TABLE [dbo].[Oglas] DROP CONSTRAINT [FK_Oglas_Kompanija]
GO
ALTER TABLE [dbo].[Oglas] DROP CONSTRAINT [FK_Oglas_Kategorija]
GO
ALTER TABLE [dbo].[Oglas] DROP CONSTRAINT [FK_Oglas_Iskustvo]
GO
ALTER TABLE [dbo].[Mesto] DROP CONSTRAINT [FK_Mesto_Drzava]
GO
ALTER TABLE [dbo].[Korisnik] DROP CONSTRAINT [FK_User_Rola]
GO
ALTER TABLE [dbo].[Korisnik] DROP CONSTRAINT [FK_User_Kompanija]
GO
ALTER TABLE [dbo].[Kandidat] DROP CONSTRAINT [FK_Kandidat_User]
GO
ALTER TABLE [dbo].[Kandidat] DROP CONSTRAINT [FK_Kandidat_Oglas]
GO
/****** Object:  Table [dbo].[UplataOglasa]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UplataOglasa]') AND type in (N'U'))
DROP TABLE [dbo].[UplataOglasa]
GO
/****** Object:  Table [dbo].[Rola]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rola]') AND type in (N'U'))
DROP TABLE [dbo].[Rola]
GO
/****** Object:  Table [dbo].[Outbox]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Outbox]') AND type in (N'U'))
DROP TABLE [dbo].[Outbox]
GO
/****** Object:  Table [dbo].[OmiljeniOglasi]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OmiljeniOglasi]') AND type in (N'U'))
DROP TABLE [dbo].[OmiljeniOglasi]
GO
/****** Object:  Table [dbo].[Oglas]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Oglas]') AND type in (N'U'))
DROP TABLE [dbo].[Oglas]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mesto]') AND type in (N'U'))
DROP TABLE [dbo].[Mesto]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Korisnik]') AND type in (N'U'))
DROP TABLE [dbo].[Korisnik]
GO
/****** Object:  Table [dbo].[Kompanija]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kompanija]') AND type in (N'U'))
DROP TABLE [dbo].[Kompanija]
GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kategorija]') AND type in (N'U'))
DROP TABLE [dbo].[Kategorija]
GO
/****** Object:  Table [dbo].[Kandidat]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kandidat]') AND type in (N'U'))
DROP TABLE [dbo].[Kandidat]
GO
/****** Object:  Table [dbo].[Iskustvo]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Iskustvo]') AND type in (N'U'))
DROP TABLE [dbo].[Iskustvo]
GO
/****** Object:  Table [dbo].[Drzava]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Drzava]') AND type in (N'U'))
DROP TABLE [dbo].[Drzava]
GO
/****** Object:  Table [dbo].[CenovnikOglasa]    Script Date: 11/1/2022 6:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CenovnikOglasa]') AND type in (N'U'))
DROP TABLE [dbo].[CenovnikOglasa]
GO
USE [master]
GO
/****** Object:  Database [agencija]    Script Date: 11/1/2022 6:51:24 PM ******/
DROP DATABASE [agencija]
GO
/****** Object:  Database [agencija]    Script Date: 11/1/2022 6:51:24 PM ******/
CREATE DATABASE [agencija]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'agencija', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\agencija.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'agencija_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\agencija_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agencija].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agencija]
GO
/****** Object:  Table [dbo].[CenovnikOglasa]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenovnikOglasa](
	[idCenovnik] [int] IDENTITY(1,1) NOT NULL,
	[paket] [nvarchar](20) NOT NULL,
	[brojOglasa] [int] NOT NULL,
	[slika] [nvarchar](20) NOT NULL,
	[istaknut] [nchar](10) NOT NULL,
	[vremenskiPeriod] [int] NOT NULL,
	[aktivanCenovnik] [bit] NOT NULL,
	[cena] [int] NOT NULL,
 CONSTRAINT [PK_CenovnikOglasa] PRIMARY KEY CLUSTERED 
(
	[idCenovnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drzava]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drzava](
	[idDrzava] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[kod] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Drzava] PRIMARY KEY CLUSTERED 
(
	[idDrzava] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iskustvo]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iskustvo](
	[idIskustvo] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[aktivnoIskustvo] [bit] NULL,
 CONSTRAINT [PK_Iskustvo] PRIMARY KEY CLUSTERED 
(
	[idIskustvo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kandidat]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kandidat](
	[idOglas] [int] NOT NULL,
	[propratniDokument] [nvarchar](350) NULL,
	[cv] [nvarchar](350) NULL,
	[idUser] [int] NOT NULL,
	[idKandidat] [int] IDENTITY(1,1) NOT NULL,
	[aktivanKandidat] [bit] NULL,
 CONSTRAINT [PK_Kandidat_1] PRIMARY KEY CLUSTERED 
(
	[idKandidat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorija](
	[idKategorija] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[aktivnaKategorija] [bit] NULL,
 CONSTRAINT [PK_Kategorija] PRIMARY KEY CLUSTERED 
(
	[idKategorija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kompanija]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kompanija](
	[IdKompanija] [int] IDENTITY(1,1) NOT NULL,
	[video] [nvarchar](max) NULL,
	[sajt] [nvarchar](max) NOT NULL,
	[opis] [nvarchar](max) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[logo] [varbinary](max) NULL,
	[adresa] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](20) NOT NULL,
	[pib] [int] NOT NULL,
	[aktivnaKompanija] [bit] NULL,
	[idOglas] [nchar](10) NULL,
 CONSTRAINT [PK_Kompanija] PRIMARY KEY CLUSTERED 
(
	[IdKompanija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[IdKorisnik] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](18) NULL,
	[Username] [nvarchar](50) NULL,
	[Sifra] [nvarchar](50) NOT NULL,
	[Slika] [varbinary](max) NULL,
	[idRola] [int] NOT NULL,
	[idKompanija] [int] NULL,
	[aktivanKorisnik] [bit] NULL,
	[NazivSlike] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdKorisnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[idMesto] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[postanskiBroj] [int] NOT NULL,
	[drzavaID] [int] NOT NULL,
 CONSTRAINT [PK_Mesto] PRIMARY KEY CLUSTERED 
(
	[idMesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oglas]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oglas](
	[idOglas] [int] IDENTITY(1,1) NOT NULL,
	[istice] [date] NOT NULL,
	[naslov] [nvarchar](50) NOT NULL,
	[opis] [nvarchar](max) NOT NULL,
	[poseta] [int] NULL,
	[idKategorija] [int] NOT NULL,
	[idMesto] [int] NOT NULL,
	[idIskustvo] [int] NOT NULL,
	[IdKompanija] [int] NOT NULL,
	[aktivanOglas] [bit] NULL,
	[omiljen] [int] NULL,
 CONSTRAINT [PK_Oglas] PRIMARY KEY CLUSTERED 
(
	[idOglas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OmiljeniOglasi]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OmiljeniOglasi](
	[IdOmiljeniOglas] [int] IDENTITY(1,1) NOT NULL,
	[IdOglas] [int] NOT NULL,
	[Dodat] [date] NOT NULL,
	[Kolicina] [int] NOT NULL,
 CONSTRAINT [PK_OmiljeniOglasi] PRIMARY KEY CLUSTERED 
(
	[IdOmiljeniOglas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outbox]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outbox](
	[idOutBox] [int] IDENTITY(1,1) NOT NULL,
	[senderEmail] [nvarchar](50) NOT NULL,
	[senderName] [nvarchar](20) NOT NULL,
	[recepientEmail] [nvarchar](50) NOT NULL,
	[subject] [nvarchar](50) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[isHtml] [bit] NOT NULL,
	[sreatedAt] [date] NOT NULL,
	[isSEnt] [bit] NOT NULL,
	[sentAt] [date] NULL,
	[IdKorisnik] [int] NOT NULL,
 CONSTRAINT [PK_Outbox] PRIMARY KEY CLUSTERED 
(
	[idOutBox] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rola]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rola](
	[idRola] [int] IDENTITY(1,1) NOT NULL,
	[nazivRola] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Rola] PRIMARY KEY CLUSTERED 
(
	[idRola] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UplataOglasa]    Script Date: 11/1/2022 6:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UplataOglasa](
	[idKompanija] [int] NOT NULL,
	[uplaceno] [int] NOT NULL,
	[idCenovnikUplataOglasa] [int] IDENTITY(1,1) NOT NULL,
	[datumUplate] [date] NOT NULL,
	[aktivnaUplataOglasa] [bit] NOT NULL,
	[idCenovnikOglasa] [int] NOT NULL,
	[datumTrajanja] [date] NOT NULL,
	[oglasId] [int] NULL,
	[cena] [int] NULL,
 CONSTRAINT [PK_UplataOglasa_1] PRIMARY KEY CLUSTERED 
(
	[idCenovnikUplataOglasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CenovnikOglasa] ON 

INSERT [dbo].[CenovnikOglasa] ([idCenovnik], [paket], [brojOglasa], [slika], [istaknut], [vremenskiPeriod], [aktivanCenovnik], [cena]) VALUES (1, N'Osnovni', 5, N'x', N'x         ', 30, 1, 12000)
INSERT [dbo].[CenovnikOglasa] ([idCenovnik], [paket], [brojOglasa], [slika], [istaknut], [vremenskiPeriod], [aktivanCenovnik], [cena]) VALUES (2, N'Premium', 30, N'da', N'da        ', 60, 1, 25000)
INSERT [dbo].[CenovnikOglasa] ([idCenovnik], [paket], [brojOglasa], [slika], [istaknut], [vremenskiPeriod], [aktivanCenovnik], [cena]) VALUES (4, N'Vip', 60, N'da', N'da        ', 90, 1, 60000)
SET IDENTITY_INSERT [dbo].[CenovnikOglasa] OFF
GO
SET IDENTITY_INSERT [dbo].[Drzava] ON 

INSERT [dbo].[Drzava] ([idDrzava], [naziv], [kod], [telefon]) VALUES (1, N'Srbija', N'381', N'381')
SET IDENTITY_INSERT [dbo].[Drzava] OFF
GO
SET IDENTITY_INSERT [dbo].[Iskustvo] ON 

INSERT [dbo].[Iskustvo] ([idIskustvo], [naziv], [aktivnoIskustvo]) VALUES (1, N'Junior', 1)
INSERT [dbo].[Iskustvo] ([idIskustvo], [naziv], [aktivnoIskustvo]) VALUES (2, N'Intermediate', 1)
INSERT [dbo].[Iskustvo] ([idIskustvo], [naziv], [aktivnoIskustvo]) VALUES (3, N'Senior', 1)
SET IDENTITY_INSERT [dbo].[Iskustvo] OFF
GO
SET IDENTITY_INSERT [dbo].[Kandidat] ON 

INSERT [dbo].[Kandidat] ([idOglas], [propratniDokument], [cv], [idUser], [idKandidat], [aktivanKandidat]) VALUES (10, N'C:\Users\majki\source\repos\agencija\agencija\agencija\App_Data\Cover Letter -J.pdf', N'C:\Users\majki\source\repos\agencija\agencija\agencija\App_Data\Stefan''s Resume v2.pdf', 19, 4, NULL)
INSERT [dbo].[Kandidat] ([idOglas], [propratniDokument], [cv], [idUser], [idKandidat], [aktivanKandidat]) VALUES (10, N'C:\Users\majki\source\repos\agencija\agencija\agencija\App_Data\Cover Letter -J.pdf', N'C:\Users\majki\source\repos\agencija\agencija\agencija\App_Data\Stefan''s Resume v2.pdf', 19, 5, NULL)
SET IDENTITY_INSERT [dbo].[Kandidat] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategorija] ON 

INSERT [dbo].[Kategorija] ([idKategorija], [naziv], [aktivnaKategorija]) VALUES (1, N'Programiranje', 1)
INSERT [dbo].[Kategorija] ([idKategorija], [naziv], [aktivnaKategorija]) VALUES (2, N'Sistemska administracija', 1)
INSERT [dbo].[Kategorija] ([idKategorija], [naziv], [aktivnaKategorija]) VALUES (3, N'QA', 1)
SET IDENTITY_INSERT [dbo].[Kategorija] OFF
GO
SET IDENTITY_INSERT [dbo].[Kompanija] ON 

SET IDENTITY_INSERT [dbo].[Kompanija] OFF
GO
SET IDENTITY_INSERT [dbo].[Korisnik] ON 

INSERT [dbo].[Korisnik] ([IdKorisnik], [Ime], [Prezime], [Email], [Telefon], [Username], [Sifra], [Slika], [idRola], [idKompanija], [aktivanKorisnik], [NazivSlike]) VALUES (2, N'Stefan', N'Majkic', N'nesto@gmail.com', N'66059344', N'stefanmajki', N'nesto', NULL, 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Korisnik] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesto] ON 

INSERT [dbo].[Mesto] ([idMesto], [naziv], [postanskiBroj], [drzavaID]) VALUES (1, N'Beograd', 11000, 1)
INSERT [dbo].[Mesto] ([idMesto], [naziv], [postanskiBroj], [drzavaID]) VALUES (2, N'Novi Sad', 21000, 1)
INSERT [dbo].[Mesto] ([idMesto], [naziv], [postanskiBroj], [drzavaID]) VALUES (3, N'Nis', 18000, 1)
SET IDENTITY_INSERT [dbo].[Mesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Oglas] ON 

SET IDENTITY_INSERT [dbo].[Oglas] OFF
GO
SET IDENTITY_INSERT [dbo].[Rola] ON 

INSERT [dbo].[Rola] ([idRola], [nazivRola]) VALUES (1, N'admin')
INSERT [dbo].[Rola] ([idRola], [nazivRola]) VALUES (2, N'poslovniKorisnik')
INSERT [dbo].[Rola] ([idRola], [nazivRola]) VALUES (3, N'korisnik')
SET IDENTITY_INSERT [dbo].[Rola] OFF
GO
ALTER TABLE [dbo].[Kandidat]  WITH CHECK ADD  CONSTRAINT [FK_Kandidat_Oglas] FOREIGN KEY([idOglas])
REFERENCES [dbo].[Oglas] ([idOglas])
GO
ALTER TABLE [dbo].[Kandidat] CHECK CONSTRAINT [FK_Kandidat_Oglas]
GO
ALTER TABLE [dbo].[Kandidat]  WITH CHECK ADD  CONSTRAINT [FK_Kandidat_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[Korisnik] ([IdKorisnik])
GO
ALTER TABLE [dbo].[Kandidat] CHECK CONSTRAINT [FK_Kandidat_User]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_User_Kompanija] FOREIGN KEY([idKompanija])
REFERENCES [dbo].[Kompanija] ([IdKompanija])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_User_Kompanija]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_User_Rola] FOREIGN KEY([idRola])
REFERENCES [dbo].[Rola] ([idRola])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_User_Rola]
GO
ALTER TABLE [dbo].[Mesto]  WITH CHECK ADD  CONSTRAINT [FK_Mesto_Drzava] FOREIGN KEY([drzavaID])
REFERENCES [dbo].[Drzava] ([idDrzava])
GO
ALTER TABLE [dbo].[Mesto] CHECK CONSTRAINT [FK_Mesto_Drzava]
GO
ALTER TABLE [dbo].[Oglas]  WITH CHECK ADD  CONSTRAINT [FK_Oglas_Iskustvo] FOREIGN KEY([idIskustvo])
REFERENCES [dbo].[Iskustvo] ([idIskustvo])
GO
ALTER TABLE [dbo].[Oglas] CHECK CONSTRAINT [FK_Oglas_Iskustvo]
GO
ALTER TABLE [dbo].[Oglas]  WITH CHECK ADD  CONSTRAINT [FK_Oglas_Kategorija] FOREIGN KEY([idKategorija])
REFERENCES [dbo].[Kategorija] ([idKategorija])
GO
ALTER TABLE [dbo].[Oglas] CHECK CONSTRAINT [FK_Oglas_Kategorija]
GO
ALTER TABLE [dbo].[Oglas]  WITH CHECK ADD  CONSTRAINT [FK_Oglas_Kompanija] FOREIGN KEY([IdKompanija])
REFERENCES [dbo].[Kompanija] ([IdKompanija])
GO
ALTER TABLE [dbo].[Oglas] CHECK CONSTRAINT [FK_Oglas_Kompanija]
GO
ALTER TABLE [dbo].[Oglas]  WITH CHECK ADD  CONSTRAINT [FK_Oglas_Mesto] FOREIGN KEY([idMesto])
REFERENCES [dbo].[Mesto] ([idMesto])
GO
ALTER TABLE [dbo].[Oglas] CHECK CONSTRAINT [FK_Oglas_Mesto]
GO
ALTER TABLE [dbo].[OmiljeniOglasi]  WITH CHECK ADD  CONSTRAINT [FK_OmiljeniOglasi_Oglas] FOREIGN KEY([IdOglas])
REFERENCES [dbo].[Oglas] ([idOglas])
GO
ALTER TABLE [dbo].[OmiljeniOglasi] CHECK CONSTRAINT [FK_OmiljeniOglasi_Oglas]
GO
ALTER TABLE [dbo].[Outbox]  WITH CHECK ADD  CONSTRAINT [FK_Outbox_Korisnik] FOREIGN KEY([IdKorisnik])
REFERENCES [dbo].[Korisnik] ([IdKorisnik])
GO
ALTER TABLE [dbo].[Outbox] CHECK CONSTRAINT [FK_Outbox_Korisnik]
GO
ALTER TABLE [dbo].[UplataOglasa]  WITH CHECK ADD  CONSTRAINT [FK_UplataOglasa_CenovnikOglasa1] FOREIGN KEY([idCenovnikOglasa])
REFERENCES [dbo].[CenovnikOglasa] ([idCenovnik])
GO
ALTER TABLE [dbo].[UplataOglasa] CHECK CONSTRAINT [FK_UplataOglasa_CenovnikOglasa1]
GO
ALTER TABLE [dbo].[UplataOglasa]  WITH CHECK ADD  CONSTRAINT [FK_UplataOglasa_Kompanija1] FOREIGN KEY([idKompanija])
REFERENCES [dbo].[Kompanija] ([IdKompanija])
GO
ALTER TABLE [dbo].[UplataOglasa] CHECK CONSTRAINT [FK_UplataOglasa_Kompanija1]
GO
USE [master]
GO
